RewriteEngine on
RewriteRule dang-nhap login.php
RewriteRule xac-nhan xacnhan.php
RewriteRule duyet-confession duyetcfs.php
RewriteRule duyet-tim-do duyettimdo.php
RewriteRule ^dang-tai/(.*)/(.*)$ dangtai.php?act=$1&id=$2
RewriteRule ajax/hoan-tat ajax/complete.php
RewriteRule ajax/xoa ajax/delete.php
RewriteRule them-quan-ly admin.php
RewriteRule quan-ly quanli.php
RewriteRule dang-xuat dangxuat.php
RewriteRule chinh-sua-hashtag edit.php